/* Catppuccin Mocha Palette */
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color text      #cdd6f4;
@define-color red       #f38ba8;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;


* {
  font-size: 13px;
  color: #cdd6f4;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.4);
  border-radius: 10px;
  margin: 10px;
}

#workspaces button,
#clock, #cpu, #memory, #network,
#pulseaudio, #temperature, #tray, #battery,
#custom-media, #custom-updates, #custom-power {
  background-color: #313244;   /* surface0 */
  color: #cdd6f4;              /* text */
  border-radius: 10px;
  padding: 4px 10px;
  margin: 5px 5px;
}

/* Workspaces */
#workspaces button.active {
  background-color: #89b4fa;  /* blue */
  color: #1e1e2e;
}
#workspaces button:hover {
  background-color: #74c7ec;  /* lighter blue */
  color: #1e1e2e;
}

/* Per-module color pops */
#cpu        { color: #f38ba8; }  /* red */
#temperature{ color: #fab387; }  /* peach */
#memory     { color: #f9e2af; }  /* yellow */
#battery    { color: #a6e3a1; }  /* green */
#network    { color: #89b4fa; }  /* blue */
#pulseaudio { color: #b4befe; }  /* lavender */
#tray       { color: #cdd6f4; }  /* text */
#custom-power {
  color: #f38ba8;                          /* Catppuccin red */
  margin-right: 10px;
}


